<h1>List all existing cards in the database</h1>
<%= link_to 'Create new Card', new_card_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Race</th>
    <th>Type</th>
    <th>Rarity</th>
    <th>Cost</th>
    <th>Attack</th>
    <th>Health</th>
  </tr>

  <% @posts.each do |card| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.class %></td>
        <td><%= post.race %></td>
        <td><%= post.type %></td>
        <td><%= post.rarity %></td>
        <td><%= post.cost %></td>
        <td><%= post.attack %></td>
        <td><%= post.health %></td>
      </tr>
  <% end %>
</table>