<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>
<p>
  <strong>Class:</strong>
  <%= @card.card_class %>
</p>
<p>
  <strong>Type:</strong>
  <%= @card.card_type %>
</p>
<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>
<p>
  <strong>Attack:</strong>
  <%= @card.attack%>
</p>
<p>
  <strong>Health:</strong>
  <%= @card.health %>
</p>
<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<%= link_to 'Back', cards_path %>