<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Class:</strong>
  <%= @post.class %>
</p>
<p>
  <strong>Rarity:</strong>
  <%= @post.rarity %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post.type %>
</p>
<p>
  <strong>Attack:</strong>
  <%= @post.attack %>
</p>
<p>
  <strong>Health:</strong>
  <%= @post.health %>
</p>
<p>
  <strong>Race:</strong>
  <%= @post.race %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @post.cost %>
</p>

<%= link_to 'Back', cards_path %>