<%- model_class = Deck -%>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:card_class) %></th>
    <th><%= model_class.human_attribute_name(:card_type) %></th>
    <th><%= model_class.human_attribute_name(:rarity) %></th>
    <th><%= model_class.human_attribute_name(:cost) %></th>
    <th><%= model_class.human_attribute_name(:attack) %></th>
    <th><%= model_class.human_attribute_name(:health) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.id, card_path(card) %></td>
        <td><%= card.name %></td>
        <td><%= card.card_class %></td>
        <td><%= card.card_type %></td>
        <td><%= card.rarity %></td>
        <td><%= card.cost %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td><%= card.description %></td>
        <td><%=l card.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_card_path(card), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      card_path(card),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
