<%- model_class = Deck -%>
<div>
<div style="width:400px; float: left; margin-right: 40px;">
  <h1>Available Cards</h1>
  <table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:rarity) %></th>
    <th><%= model_class.human_attribute_name(:cost) %></th>
    <th><%= model_class.human_attribute_name(:attack) %></th>
    <th><%= model_class.human_attribute_name(:health) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.rarity %></td>
        <td><%= card.cost %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td>
          <%= link_to image_tag("/images/add.png"), add_card_path(@deck,card), :method => 'post' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<div style="width:400px; float: left;">
<h1>Cards in this deck</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:rarity) %></th>
    <th><%= model_class.human_attribute_name(:cost) %></th>
    <th><%= model_class.human_attribute_name(:attack) %></th>
    <th><%= model_class.human_attribute_name(:health) %></th>
    <th><%= model_class.human_attribute_name(:quantity) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @deck.card_decks.each do |cardDeck|
    card = Card.find(cardDeck.card_id)
    %>

      <tr>
        <td><%= card.name %></td>
        <td><%= card.rarity %></td>
        <td><%= card.cost %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td><%= cardDeck.quantity %> </td>
        <td>
          <%= link_to image_tag("/images/delete.png"), remove_card_path(@deck,card), :method => 'delete' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
  <div style="clear: both;"></div>
</div>