<%- model_class = Deck -%>
<h1>Available Cards</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:card_class) %></th>
    <th><%= model_class.human_attribute_name(:card_type) %></th>
    <th><%= model_class.human_attribute_name(:rarity) %></th>
    <th><%= model_class.human_attribute_name(:cost) %></th>
    <th><%= model_class.human_attribute_name(:attack) %></th>
    <th><%= model_class.human_attribute_name(:health) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>

    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.card_class %></td>
        <td><%= card.card_type %></td>
        <td><%= card.rarity %></td>
        <td><%= card.cost %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td><%= card.description %></td>
        <td>
          <%= link_to "Add to deck", add_card_path(@deck,card), :method => 'post' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<h1>Cards in this deck</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:card_class) %></th>
    <th><%= model_class.human_attribute_name(:card_type) %></th>
    <th><%= model_class.human_attribute_name(:rarity) %></th>
    <th><%= model_class.human_attribute_name(:cost) %></th>
    <th><%= model_class.human_attribute_name(:attack) %></th>
    <th><%= model_class.human_attribute_name(:health) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:quantity) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @deck.card_decks.each do |cardDeck|
    card = Card.find(cardDeck.card_id)
    %>

      <tr>
        <td><%= card.name %></td>
        <td><%= card.card_class %></td>
        <td><%= card.card_type %></td>
        <td><%= card.rarity %></td>
        <td><%= card.cost %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td><%= card.description %></td>
        <td><%= cardDeck.quantity %> </td>
        <td>
          <%= link_to "Remove from deck", remove_card_path(@deck,card), :method => 'delete' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
